version: '3.2'

services:
  disque:
    deploy:
      endpoint_mode: dnsrr
      resources:
        limits:
          cpus: '1.0'
          memory: 1G
      restart_policy:
        condition: any
        delay: 5s
        window: 10s
    env_file: ./docker/disque/.env
    environment:
      - TERM
    healthcheck:
      interval: 30s
      retries: 3
      timeout: 30s
    image: quay.io/tripviss/tripviss-disque:disque
    networks:
      - default
    restart: always
    sysctls:
      - net.core.somaxconn=1024
    volumes:
      # - ./docker/disque/confd:/usr/local/etc/confd:ro
      - ./docker/disque/data:/data:rw

networks:
  default: {}
