aof-rewrite-incremental-fsync yes
appendfsync everysec
appendonly yes
auto-aof-rewrite-min-size 64mb
auto-aof-rewrite-percentage 100
loglevel notice
maxmemory 64mb
maxmemory-policy acks
tcp-backlog 511
tcp-keepalive 60
timeout 0
